<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
Our blog has <%= Article.public_count %> articles and counting!
<%= image_tag "R" %>
<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_article_path %>
